/*@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:content-box;
    color: #E0BBE4;
    font-family: 'Poppins', sans-serif;
}
i{
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #FF0080;
}
body{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
main{
    width: 300px;
    height: 500px;
   /* background: linear-gradient(135deg, #00F260, #0575E6);*/
   background: linear-gradient(135deg, #6DD5FA, #9400D3, #FF0080);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px #00FFFF, 0 0 20px #FF0080;
}
/*homepage layout desingn*/
.homePage{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
}
.top>p{
    text-align: center;
}
.top{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 70px;
    height:70px;
    font-weight: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 50px;
    background-color:linear-gradient(135deg, #6DD5FA, #9400D3, #FF0080);
}
.logoPic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: multiply;
}
#play,#exist{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-button{
    width: 50px;
    height:50px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
}
/*Game page layout*/
.r-button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 1px;
    margin: 5px;
    border-radius: 5px;
}
.cpu,.gamePage{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
}
.firstRow{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
}
.right{
    display: flex;
    text-align: center;
}
.right>p,.buttom>p{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}
.secondRow,.thirdRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttom{
    display: flex;
    flex-direction: row-reverse;
}
.top-game{
    display: flex;
    justify-content: center;
}
/*massage box layout*/
.winMassage{
    width: 90%;
    height: auto;
    border: 1px solid black;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
.massage{
    margin-top: 10px;
}
.backMenu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


