*{
    margin: 0px;
    padding: 0px;
    box-sizing:content-box;
    color: white;
}
body{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}
main{
    width: 300px;
    height: 500px;
    background-color: rgb(14, 27, 100);
    border-radius: 30px;
    padding: 20px;
}
/*homepage layout desingn*/
.homePage{
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.top>p{
    text-align: center;
}
.top{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 70px;
    height:70px;
    border: 1px solid black;
    border-radius: 50%;
}
#play,#exist{
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-button{
    width: 50px;
    height:50px;
    border: 1px solid black;
    border-radius: 50%;
}
/*Game page layout*/
.r-button{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 1px;
    margin: 5px;
    border-radius: 5px;
}
.cpu,.gamePage{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
}
.firstRow{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
}
.right{
    display: flex;
    text-align: center;
}
.right>p,.buttom>p{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}
.secondRow,.thirdRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttom{
    display: flex;
    flex-direction: row-reverse;
}
.top-game{
    display: flex;
    justify-content: center;
}
/*massage box layout*/
.winMassage{
    width: 90%;
    height: auto;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
.massage{
    margin-top: 10px;
}
.backMenu{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


